@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;

}
@font-face {
  font-family: "League Spartan";
  src: url("./LeagueSpartan-VariableFont_wght.ttf");
}
.hover-neutral-to-sky {
  @apply font-semibold text-neutral-600 hover:text-sky-500 transition duration-150 ease-in-out;
}
*{
  font-family: "League Spartan";
}
*::selection {
  @apply bg-neutral-200 text-sky-500;
}

.titleSection{
  @apply lg:text-4xl md:text-2xl text-xl font-bold text-gray-900   mt-10 mb-10
}
#hamburgerInput:checked + .toggle #l1 {
  transform: rotate(60deg);
}
#hamburgerInput:checked + .toggle #l3 {
  opacity: 0;
  transform: translateX(-50%);
}
#hamburgerInput:checked + .toggle #l2 {
  transform: rotate(120deg);
}